<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunger Apps</title>
    <link rel="icon" href="./favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<a class="skip-link" href="#mainContent">Skip to Content</a>
<app-bar></app-bar>
<main id="mainContent"></main>
<foot-bar></foot-bar>
<script src="./vendor/webcomponents-loader.js"></script>
</body>
</html>
