@media screen and (min-width: 650px) {
  .restaurant-detail {

    .restaurant-detail__header {

      .restaurant-detail__header__image {
        height: 400px;
      }
    }

    .restaurant-detail__menu {

      .restaurant-detail__menu__content {
        gap: 24px;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .restaurant-detail {

    .restaurant-detail__header {

      .restaurant-detail__header__image {
        height: 600px;
      }
    }
  }
}
